<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Напишіть функцію, яка знаходить кількість нулів у кінці десяткового розкладу факторіалу <code>n!</code>. Оскільки факторіали ростуть дуже швидко, обчислювати <code>n!</code> і рахувати нулі - не найкраща стратегія.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}fact-zeros.svg" alt="example" style="max-height: 100px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>Ця місія була взята з <a target="_blank" href="https://challenges.wolframcloud.com/challenge/factorial-zeros">WOLFRAM CHALLENGES</a></i></p>