<!-- Describe task in general -->

<p style="text-align: justify;">
    Schreiben Sie eine Funktion, die die Anzahl der Nullen am Ende der Dezimalentwicklung der Fakultät <code>n!</code> ermittelt. Da Fakultäten sehr schnell wachsen, ist es keine gute Strategie, <code>n!</code> zu berechnen und die Nullen zu zählen.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}fact-zeros.svg" alt="example" style="max-height: 100px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Ganzzahl <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Integer <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>Diese Mission wurde von <a target="_blank" href="https://challenges.wolframcloud.com/challenge/factorial-zeros">WOLFRAM CHALLENGES</a></i></p>