<!-- Describe task in general -->

<p style="text-align: justify;">
    Proszę napisać funkcję, która znajdzie liczbę zer na końcu rozwinięcia dziesiętnego liczby <code>n!</code>. Ponieważ czynniki rosną bardzo szybko, obliczanie <code>n!</code> i liczenie zer nie jest dobrą strategią.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}fact-zeros.svg" alt="example" style="max-height: 100px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Integer <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
<p><i>Ta misja została pobrana z <a target="_blank" href="https://challenges.wolframcloud.com/challenge/factorial-zeros">WOLFRAM CHALLENGES</a></i></p>